.header {
  background: $color-base-dark;
  box-shadow: 2px 2px 3px $color-base;
  z-index: 3;
  // Navbar
  .header-navbar {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // Logo
  .header-logo {
    font-family: $font-custom;
    color: skyblue;
  }

  // Nav
}
