.header {
  background: $color-base;
  box-shadow: 2px 2px 3px rgba($color-dark, 0.3);
  z-index: 4;
  // Navbar
  .header-navbar {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // Logo
  .header-logo {
    font-family: $font-custom;
    font-size: 1.4rem;
    color: $color-dark;
  }
}
