// Menu Button
.menu-btn {
  cursor: pointer;
  transition: all 0.4s ease-in;

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    transition: all 0.4s ease-in;
  }

  &.close {
    transform: rotate(180deg);

    // Button X
    .btn-line {
      // line 1 - rotate
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }

      // line 2 - hidden
      &:nth-child(2) {
        opacity: 0;
      }

      // line 3 - rotate
      &:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
      }
    }
  }
}

// Mobile Window Style
.mobile-navbar {
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow-x: hidden;
  width: 320px;
  height: 100vh;
  background-image: linear-gradient(180deg, $color-base, $color-base-dark);
  box-shadow: 2px 2px 3px rgba($color-dark, 0.3);
  transform: translateX(-320px);
  transition: all 0.5s ease-in;
  z-index: 1;
}

.show {
  visibility: visible;
  transform: translateX(0px);
  transition: all 0.5s ease-in;
}

// Links
.mobile-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;

  .nav-link {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
  }
}
