// Menu Button
.mobile-btn {
  width: 35px;
  height: 35px;
  cursor: pointer;
  z-index: 3;

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
  }
}

// Mobile Style
.mobile-navbar {
  position: absolute;
  visibility: hidden;
  width: 350px;
  height: 100vh;
  background: $color-base-dark;
  transform: translateX(-350px);
  transition: all 0.5s ease-in;
}

.show {
  visibility: visible;
  transform: translateX(0px);
  transition: all 0.5s ease-in;
}
