/* 
    @reset css
    @created custom variables
*/

:root {
    --text-primary: 'Open Sans', sans-serif;
    --text-secondary: 'Montserrat', sans-serif;
    --bg-color: rgb(223, 223, 223);
    --color-principal: #333;
    --bx-shadow: 1px 1px 3px rgba(0,0,0,0.8);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--text-primary);
    font-size: 100%;
    background-color: var(--bg-color);
}

a {
    color: #fff;
    text-decoration: none;
}

/*
    @Header
    @Logo
*/
.header {
    background-color: #333;
    color: #fff;
    box-shadow: var(--bx-shadow);
}

.container {
    width: 90%;
    margin: auto;
}

.header-navbar {
    width: 100%;
    height: 5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.header-logo h1 {
    font-family: var(--text-secondary);
    font-size: 1.7rem;
}

.header-logo h1 span {
    color: rgba(255, 255, 255, 0.514);
}

.header .header-nav .fas {
    font-size: 1.5rem;
}

/*
    @Menu Mobile
    @Transition Menu
    @Efect Links1
*/

.mobile {
    position: fixed;
    width: 0;
    height: 100vh;
    background-color: var(--color-principal);
    box-shadow: var(--bx-shadow);
    transition: all 0.5s ease-in;
    z-index: 1;
}

.mobile-links {
    transform: translateX(-350px);
}

.mobile-icons {
    transform: translateX(-350px);
}

.mobile-show {
    width: 350px;
    transition: all 0.5s ease-in;
}

/* 
    @Main Content
*/
main {
    z-index: -1;
}